- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap")
    style
      include styles/normalize.css
      include styles/style.css
    title=  pageTitle
  body
    include modules/header

    section.section-banner
      img(src="images/banner.png", alt="banner").section-banner__image
      .container
        .banner 
          h1.banner__title Zack Snyder's Justice League
          .banner-info
            span.banner-info__year 2021 
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce  Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control 
            button.banner-control__btn.banner-control__btn-main Watch 
            button.banner-control__btn.banner-control__btn-more More information 
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending TV Shows
        .movies 
          .movies-item
            a(href="#").movies__link 
              img(src="images/posters/poster01.png", alt="poster1").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster02.png", alt="poster2").movies__img   
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster03.png", alt="poster3").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster04.png", alt="poster4").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster05.png", alt="poster5").movies__img   
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster06.png", alt="poster6").movies__img
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending Movies
        .movies 
          .movies-item
            a(href="#").movies__link 
              img(src="images/posters/poster07.png", alt="poster1").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster08.png", alt="poster2").movies__img   
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster09.png", alt="poster3").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster10.png", alt="poster4").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster11.png", alt="poster5").movies__img   
          .movies-item
            a(href="#").movies__link
              img(src="images/posters/poster12.png", alt="poster6").movies__img
        button.section__btn See more
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Popular Genres
        .genres
          .genres-item.genres-item_romance
            .genres-icon
              img(src="images/genres/romance.svg", alt="alt").genres__image
            h3.genres__title Romance
          .genres-item.genres-item_drama
            .genres-icon
              img(src="images/genres/drama.svg", alt="alt").genres__image
            h3.genres__title Drama
          .genres-item.genres-item_historical
            .genres-icon
              img(src="images/genres/historical.svg", alt="alt").genres__image
            h3.genres__title Historical
          .genres-item.genres-item_action
            .genres-icon
              img(src="images/genres/action.svg", alt="alt").genres__image
            h3.genres__title Action
          .genres-item.genres-item_scifi
            .genres-icon
              img(src="images/genres/sci-fi.svg", alt="alt").genres__image
            h3.genres__title Sci-fi
          .genres-item.genres-item_horror
            .genres-icon
              img(src="images/genres/horror.svg", alt="alt").genres__image
            h3.genres__title Horror
          .genres-item.genres-item_comedy
            .genres-icon
              img(src="images/genres/comedy.svg", alt="alt").genres__image
            h3.genres__title Comedy
          .genres-item.genres-item_documentary
            .genres-icon
              img(src="images/genres/documentary.svg", alt="alt").genres__image
            h3.genres__title Documentary
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Popular Actors & Directors
        .actors
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor01.png", alt="Samantha Bowen").actors__img 
            h3.actors__title Samantha Bowen
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor02.png", alt="Rhys Birch").actors__img 
            h3.actors__title Rhys Birch
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor03.png", alt="James Holloway").actors__img 
            h3.actors__title James Holloway
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor04.png", alt="Joshua Walton").actors__img 
            h3.actors__title Joshua Walton
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor05.png", alt="Patrick Elliott").actors__img 
            h3.actors__title Patrick Elliott
          .actors-item
            a(href="#").actors__link
              img(src="./images/actor/actor06.png", alt="Morgan O'Neill").actors__img 
            h3.actors__title Morgan O'Neill
    section.section 
     .container 
        .marketing
          .marketing-item
              a(href="#").marketing__link
                img(src="./images/marketing/marketing01.png", alt="marketing1").marketing__img 
          .marketing-item
              a(href="#").marketing__link
                img(src="./images/marketing/marketing02.png", alt="marketing2").marketing__img 
    section.section
      .container
        .offer 
          h2.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now. 
          button.offer__btn Register
    
    include modules/footer
